<h2 class="text-center">Публикации</h2>
<br>
<div class="row justify-content-md-center">
  <% @publications.each do |publication| %>
  <div class="card" style="width: 20rem;">
      <h4 class="card-header text-center"><%= publication.title %></h4>
      <div class="card-block">
        <p class="card-text"><%= publication.description %></p>
        <p class="card-text"><%= publication.file_url %></p>
      </div>
      <div class="card-block">
        <%= link_to "Детали", publication_path(publication), class: "btn btn-info" %>
      </div>
  </div>
  <% end %>
</div>
