<h2>Публикации</h2>

<% @publications.each do |publication| %>
<div class="card" style="width: 20rem;">
  <div class="card-block">
    <h4 class="card-title"><%= publication.title %></h4>
    <p class="card-text"><%= publication.description %></p>
    <p class="card-text"><%= publication.file_url %></p>
    <%= link_to 'Детали', publication_path(publication), class: "btn btn-primary" %>
  </div>
</div>
<% end %>
